.about {
  & h2 {
    margin-bottom: 40px;
  }
  &__container {
    display: flex;
    gap: 10px;
    @media screen and (max-width: 1023px) {
      flex-direction: column;
      gap: 20px;
    }
  }
  &__images {
    display: flex;
    width: 48%;
    gap: 10px;
    @media screen and (max-width: 1023px) {
      width: 100%;
    }
    & img {
      object-fit: cover;
    }

    &_right {
      flex-grow: 2;
      width: 60%;
      border-radius: 10px;
      height: 100%;
      aspect-ratio: 485 / 480;
      & img {
        height: 100%;
      }
      @media screen and (max-width: 1023px) {
        width: 70%;
      }
    }
    &_left {
      display: flex;
      flex-direction: column;
      gap: 35px;
      justify-content: space-between;
      @media screen and (max-width: 1023px) {
        justify-content: none;
      }
      //   align-items: center;
      flex-grow: 1;
      & .rotating {
        max-width: 150px;
        width: 100%;
        -webkit-animation: rotate-image 10s linear infinite;
        animation: rotate-image 10s linear infinite;
      }
    }
    &_down {
      border-radius: 10px;
      max-width: 100%;
      width: 100%;
      aspect-ratio: 231 / 299;
      @media screen and (max-width: 1023px) {
        height: 100%;
      }
    }
  }
  &__content {
    padding: 50px;
    border-radius: 20px;
    border: 0.5px solid $--black;
    background-color: $--white;
    width: 52%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media screen and (max-width: 1023px) {
      width: 100%;
    }
    @media screen and (max-width: 767px) {
      padding: 30px 20px;
    }
    & h3 {
      margin-bottom: 12px;
    }
    & p {
      margin-bottom: 20px;
      @include text-regular-height;
    }
    & .btn {
      margin-top: 40px;
      max-width: 306px;
    }
    & div {
      padding: 30px;
      background-color: $--secondary;
      border-radius: 15px;
      @include text-regular-height;
    }
  }
}
