.advantages {
  &__container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    align-items: start;
    @media screen and (max-width: 1023px) {
      flex-direction: column;
    }
  }
  &__content {
    width: 65%;
    position: sticky;
    top: 150px;
    height: 100%;
    @media screen and (max-width: 1023px) {
      top: 0;
    }
    & h2 {
      margin-bottom: 14px;
    }
    & p {
      margin-bottom: 20px;
      &:nth-last-of-type(1) {
        margin-bottom: 30px;
      }
    }
  }

  &__scrolling_item {
    width: 100%;
    padding: 50px;
    border-radius: 20px;
    border: 1px solid $--primary;
    position: sticky;
    background-color: #fff;
    transition: all 0.4s ease-in-out 0s;
    min-height: 240px;
    height: 100%;
    &:not(:first-of-type) {
      margin-top: -10px;
    }
  }
}
.advantages__scrolling {
  width: 100%;
}
.advantages__scrolling_item_top {
  position: relative;
  margin-bottom: 30px;
  & span {
    padding: 10px 30px 10px 50px;
    border-radius: 500px;
    border: 1px solid $--primary;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: calc(50% - 5px);
      left: 30px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $--primary;
    }
  }
  & svg {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.advantages__scrolling_item_bottom {
  & p {
    max-width: 400px;
    width: 100%;
  }
}
