.animate__container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 331px;
}
.footer__animate__container {
  height: fit-content;
}

.animate__top-container,
.animate__bottom-container,
.footer__animate-wrap {
  background-color: $--primary;
  padding: 30px 0;
  width: 110%;
}
.footer__animate-wrap {
  background-color: $--primary;
  padding: 30px 0;
  height: auto;
}
.animate__top,
.animate__bottom,
.footer__animate {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}
.animate__top span,
.animate__bottom span,
.footer__animate span {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: move-rtl 6s linear infinite;
  animation: move-rtl 6s linear infinite;
  color: #5870b6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  white-space: nowrap;
}

.animate__bottom span {
  -webkit-animation: move-rtl-revers 6s linear infinite;
  animation: move-rtl-revers 6s linear infinite;
}
.animate__top-container {
  transform: rotate(5deg);
  z-index: 2;
  margin-bottom: -190px;
  @media screen and (max-width: 1200px) {
    transform: rotate(10deg);
  }
  @media screen and (max-width: 767px) {
    margin-bottom: -160px;
  }
}
.animate__bottom-container {
  transform: rotate(355deg);
  margin-top: 105px;
  @media screen and (max-width: 1023px) {
    transform: rotate(-10deg);
  }
  @media screen and (max-width: 767px) {
  }
}
.promo-m {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
@-webkit-keyframes move-rtl {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes move-rtl {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes move-rtl-revers {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
