.contact__container {
  display: flex;
  border-radius: 20px;
  border: 1px solid $--primary;
  background: $--white;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}
.contact__img {
  border-radius: 20px;
  border: 1px solid $--primary;
  background: $--secondary;
  padding: 50px;
  width: 42%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 860px) {
    padding: 40px 20px;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  & img {
    max-width: 360px;
    width: 100%;
    aspect-ratio: 1 /1;
    min-width: 200px;
  }
}
.contact__content {
  padding: 60px;
  width: 58%;
  @media screen and (max-width: 1023px) {
    padding: 60px 40px;
  }
  @media screen and (max-width: 1023px) {
    padding: 60px 40px;
  }
  @media screen and (max-width: 860px) {
    padding: 40px 20px;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  & h2 {
    margin-bottom: 15px;
  }
  & p {
    margin-bottom: 20px;
    @include text-regular;
  }
}
.contact__content_links {
  border-top: 1px solid $--primary;
  border-bottom: 1px solid $--primary;
  margin-bottom: 20px;
  & .circle {
    &:hover {
      &:before {
        background-color: $--white;
        border-color: $--primary;
        background-image: url("../images/phone-black.svg");
      }
    }
  }
  & .circle-mail {
    &:hover {
      &:before {
        border-color: $--primary;
        background-image: url("../images/mail-black.svg");
      }
    }
  }
}
