.hero__container {
  background-color: $--white;
  border-radius: 500px 20px 20px 500px;
  border: 0.5px solid $--black;
  display: flex;
  gap: 50px;
  align-items: center;
  @media screen and (max-width: 1023px) {
    justify-content: center;
    padding: 50px 20px 50px 60px;
  }
  @media screen and (max-width: 767px) {
    border-radius: 150px 20px 20px 150px;
  }
}
.hero__image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 40px;
  border-radius: 50%;
  background-color: $--secondary;
  border: 0.5px solid $--black;
  width: 42.5%;
  @media screen and (min-width: 1200px) {
    padding: 98px 40px;
  }
  @media screen and (max-width: 1023px) {
    display: none;
  }
  & img {
    max-width: 380px;
    width: 100%;
  }
}
.hero__content {
  width: 49%;
  padding: 50px 0;
  @media screen and (max-width: 1023px) {
    width: 100%;
  }
  & h1 {
    margin-bottom: 20px;
  }
  & p {
    max-width: 550px;
    margin-bottom: 20px;

    &:nth-last-of-type(1) {
      margin-bottom: 50px;
    }
    @media screen and (max-width: 1023px) {
      max-width: 100%;
    }
  }
}
