@mixin titleH1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 120%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 767px) {
    font-size: 28px;
  }
  & span {
    font: inherit;
    padding: 4px 15px;
    margin-left: 3px;
    background-color: $--primary;
    color: $--white;
    border-radius: 0px 500px 500px 0px;
    margin-top: 5px;
  }
}
@mixin titleH2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 767px) {
    font-size: 20px;
    line-height: auto;
  }

  & span {
    font: inherit;
    padding: 4px 15px;
    margin-left: 3px;
    background-color: $--primary;
    color: $--white;
    border-radius: 0px 500px 500px 0px;
    margin-top: 5px;
  }
}
@mixin titleH3 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  & span {
    font: inherit;
    padding: 4px 15px;
    margin-left: 3px;
    background-color: $--primary;
    color: $--white;
    border-radius: 0px 500px 500px 0px;
    margin-top: 5px;
  }
  @media screen and (max-width: 767px) {
    font-size: 20px;
  }
}
@mixin titleH4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  @media screen and (max-width: 767px) {
    font-size: 18px;
  }
}
@mixin text-regular {
  //1#,
  font-size: 16px;
  font-weight: 400;
  line-height: auto;
}

@mixin text-regular-height {
  // 2#,
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 130%;
}
@mixin text-regular-s {
  //5#,
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
}
@mixin text-regular-s-height {
  //6#,
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
@mixin text-regular-xs {
  //8
  font-size: 12px;
  font-weight: 400;
  line-height: auto;
}
@mixin text-regular-m {
  //9#
  font-size: 20px;
  font-weight: 400;
  line-height: auto;
}
@mixin text-medium-s {
  //3#
  font-size: 16px;
  font-weight: 500;
  line-height: auto;
}
@mixin text-bold {
  //4#,
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
}
@mixin text-bold-s {
  //7#
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
}

@mixin decorList {
  @include text-regular-s;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 38px;
  & li {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: -38px;
      background: url("../images/about_img-rotating\ \(2\).svg") center center /
        cover no-repeat;
      width: 22px;
      height: 22px;
    }
  }
}
