/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul[class],
ol[class] {
  list-style: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
  font-weight: 700;
}
body {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  color: #383838;
  background-color: #f9f9f9;
}

@media screen and (max-width: 1023px) {
  main {
    margin-top: 120px;
  }
}

.container {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.container-s {
  max-width: 1215px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 20px;
    line-height: auto;
  }
}
h1 span {
  font: inherit;
  padding: 4px 15px;
  margin-left: 3px;
  background-color: #8ac900;
  color: #fff;
  border-radius: 0px 500px 500px 0px;
  margin-top: 5px;
}

h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 20px;
    line-height: auto;
  }
}
h2 span {
  font: inherit;
  padding: 4px 15px;
  margin-left: 3px;
  background-color: #8ac900;
  color: #fff;
  border-radius: 0px 500px 500px 0px;
  margin-top: 5px;
}

h3 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}
h3 span {
  font: inherit;
  padding: 4px 15px;
  margin-left: 3px;
  background-color: #8ac900;
  color: #fff;
  border-radius: 0px 500px 500px 0px;
  margin-top: 5px;
}
@media screen and (max-width: 767px) {
  h3 {
    font-size: 20px;
  }
}

h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
@media screen and (max-width: 767px) {
  h4 {
    font-size: 18px;
  }
}

.text-regular {
  font-size: 16px;
  font-weight: 400;
  line-height: auto;
}

.text-regular-height {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 130%;
}

.text-regular-s {
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
}

.text-regular-s-height {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.text-regular-xs {
  font-size: 12px;
  font-weight: 400;
  line-height: auto;
}

.text-regular-m {
  font-size: 20px;
  font-weight: 400;
  line-height: auto;
}

.text-medium-s {
  font-size: 16px;
  font-weight: 500;
  line-height: auto;
}

.text-bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
}

.text-bold-s {
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
}

.titleH2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .titleH2 {
    font-size: 20px;
    line-height: auto;
  }
}
.titleH2 span {
  font: inherit;
  padding: 4px 15px;
  margin-left: 3px;
  background-color: #8ac900;
  color: #fff;
  border-radius: 0px 500px 500px 0px;
  margin-top: 5px;
}

.btn {
  display: flex;
  padding: 14px;
  border: 0.5px solid transparent;
  background-color: #8ac900;
  align-items: center;
  justify-content: center;
  color: #fff;
  max-width: 325px;
  width: 100%;
  border-radius: 500px;
  text-align: center;
  transition: 0.3s linear;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: auto;
}
.btn:hover {
  background-color: #e9ffe8;
  color: #383838;
  border-color: #383838;
}

.mb-m {
  margin-bottom: 120px;
}
@media screen and (max-width: 767px) {
  .mb-m {
    margin-bottom: 60px;
  }
}

.mb-s {
  margin-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .mb-s {
    margin-bottom: 30px;
  }
}

.title-center {
  text-align: center;
  margin-bottom: 40px;
}

.title-center-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 40px;
}

.title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .title-row {
    flex-direction: column;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: stretch;
  height: 100%;
  margin-bottom: 40px;
}
@media screen and (max-width: 1023px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 550px) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 30px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 100%;
  background-color: #fff;
  border: 0.5px solid #8ac900;
  border-radius: 500px;
  position: relative;
  transition: 0.3s linear;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 130%;
}
.circle:hover {
  background-color: #8ac900;
  color: #fff;
}
.circle:hover:before {
  background-color: #383838;
  border-color: #383838;
}
@media screen and (max-width: 375px) {
  .circle {
    white-space: wrap;
    text-wrap: wrap;
    word-break: break-all;
    max-width: 100%;
  }
}
.circle:before {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #8ac900;
  border: 0.5px solid transparent;
  background-image: url("../images/phone.svg");
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: -45px;
  transition: 0.3s linear;
}

.circle-mail::before {
  background-image: url("../images/mail.svg");
  background-size: 23px;
}

.black-circle {
  background-color: #fff;
  border-color: #383838;
}
.black-circle:hover {
  border-color: transparent;
}
.black-circle:hover:before {
  background-color: #8ac900;
  border-color: transparent;
}
.black-circle:before {
  background-color: #383838;
}

.contact__wrap {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0px 20px 50px;
}

.social__wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}
.social__wrap a {
  max-width: 64px;
  max-height: 64px;
  border-radius: 50%;
}
.social__wrap a svg {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.breadcrumbs {
  padding: 5px 0;
  margin-bottom: 60px;
}
.breadcrumbs__wrap {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}
.breadcrumbs a {
  cursor: pointer;
  color: #8ac900;
}

.feature-container {
  border-radius: 20px;
  border: 0.5px solid #383838;
  width: 42%;
}

.feature-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  background-color: #e9ffe8;
  max-width: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0;
  flex-grow: 1;
}

.feature-title h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
@media screen and (max-width: 767px) {
  .feature-title h3 {
    font-size: 18px;
  }
}

.feature-content {
  padding: 40px 20px;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
}
.feature-content ul {
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 38px;
}
.feature-content ul li {
  position: relative;
}
.feature-content ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: -38px;
  background: url("../images/about_img-rotating (2).svg") center center/cover no-repeat;
  width: 22px;
  height: 22px;
}

@media screen and (max-width: 550px) {
  .faq__container h2 {
    text-wrap: balance;
  }
  .faq__container h2 span {
    margin: 5px;
    display: inline-block;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}

.page-main {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .page-main {
    flex-direction: column;
  }
}

.main-content {
  width: 75%;
}
@media screen and (max-width: 767px) {
  .main-content {
    width: 100%;
  }
}

.navbar {
  width: 25%;
}
@media screen and (max-width: 767px) {
  .navbar {
    width: 100%;
  }
}
.navbar h2 {
  margin-bottom: 30px;
}

.navbar__wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.navbar__wrap .action__item_bottom {
  padding: 20px;
}

.accord {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  gap: 10px;
}

.accord-item {
  max-width: 100%;
  width: 100%;
  border: 1px solid #383838;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s linear;
}
.accord-item:nth-last-of-type(1) {
  border-bottom: 1px solid #383838;
}
.accord-item-top {
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
  padding: 20px 30px;
}
@media screen and (max-width: 767px) {
  .accord-item-top {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .accord-item-top {
    padding: 30px 20px;
    gap: 20px;
  }
}
@media screen and (max-width: 367px) {
  .accord-item-top {
    gap: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    white-space: pre-wrap;
  }
}
.accord-item-top p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  white-space: pre-wrap;
  margin-bottom: 0;
}
@media screen and (max-width: 367px) {
  .accord-item-top p {
    overflow-wrap: anywhere;
  }
}
.accord-item-top svg {
  max-width: 32px;
  max-height: 32px;
  width: 100%;
  height: 100%;
  margin-right: 5px;
  transition: all 0.3s linear;
}
.accord-item-bottom {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
  padding: 0px 30px 0px 0px;
}
.accord-item-bottom p {
  font-size: 16px;
  font-weight: 400;
  line-height: auto;
  margin-bottom: 0;
}

.accord-item:hover,
.accord-item.active {
  background-color: #e9ffe8;
}

.accord-item.active .accord-item-bottom {
  background-color: #e9ffe8;
  color: #383838;
  opacity: 1;
  max-height: 100vh;
  overflow: visible;
  padding: 0 30px 30px 30px;
  border-radius: 0 0 10px 10px;
}
@media screen and (max-width: 767px) {
  .accord-item.active .accord-item-bottom {
    padding: 20px;
  }
}
@media screen and (max-width: 367px) {
  .accord-item.active .accord-item-bottom {
    padding: 10px;
  }
}

.accord-item.active .accord-item-top svg {
  transform: rotate(45deg);
}

.header {
  margin-bottom: 20px;
}
@media screen and (max-width: 1023px) {
  .header {
    position: fixed;
    height: auto;
    width: 100%;
    z-index: 50;
    top: 0;
    left: 0;
  }
}

.header__top {
  background-color: #e9ffe8;
}

.header__top_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 5px;
}

.header__social {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header__social span {
  margin-right: 5px;
}
@media screen and (max-width: 767px) {
  .header__social span {
    display: none;
  }
}
.header__social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  transition: 0.3s linear;
}
.header__social a:hover svg path {
  fill: #8ac900;
}
.header__social a svg {
  transition: 0.3s linear;
  width: 100%;
  height: 100%;
}

.head-text {
  margin-right: 5px;
  line-height: normal;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .head-text {
    display: none;
  }
}

.switch {
  max-width: 65px;
  max-height: 18px;
}

.header__logo_container {
  text-align: center;
  position: relative;
}
.header__logo_container .burgerBtn {
  display: none;
}
@media screen and (max-width: 1023px) {
  .header__logo_container .burgerBtn {
    display: block;
    width: 45px;
    height: 45px;
    border: 0.5px solid #fff;
    background-color: #fff;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: calc(50% - 22.5px);
    border-radius: 50%;
  }
  .header__logo_container .burgerBtn .btn-menu-line {
    width: 27px;
    height: 2px;
    position: absolute;
    left: 8px;
    background-color: #8ac900;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  }
  .header__logo_container .burgerBtn .btn-menu-line1 {
    top: 17px;
  }
  .header__logo_container .burgerBtn .btn-menu-line3 {
    bottom: 15px;
  }
  .open .header__logo_container .burgerBtn .btn-menu-line1 {
    transform: rotate(45deg) translate(2px, 2px) scale(1.15) rotate(92deg);
  }
  .open .header__logo_container .burgerBtn .btn-menu-line2 {
    opacity: 0;
  }
  .open .header__logo_container .burgerBtn .btn-menu-line3 {
    transform: rotate(-45deg) translate(4px, -4px) scale(1.15) rotate(-92deg);
  }
}

.header__logo {
  padding: 20px 0;
  background-color: #8ac900;
}

.logo {
  max-width: 116px;
  display: inline-block;
}

.header__nav {
  background-color: #fff;
  z-index: 500;
  animation-duration: 0.5s;
  animation-iteration-count: forwards;
}
.header__nav.fixed-header-nav {
  top: 0;
  position: fixed;
  width: 100%;
}
@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes removeSmoothScroll {
  0% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0px);
  }
}
@media screen and (max-width: 1023px) {
  .header__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 100px);
    position: fixed;
    left: -100%;
    top: 100px;
    background-color: #8ac900;
    transition: all 0.5s ease;
    padding: 0 20px;
  }
  .open .header__nav {
    left: 0;
    align-items: flex-start;
    gap: 30px;
    top: 100px;
    height: calc(100vh - 100px);
    overflow: hidden;
    overflow-y: auto;
  }
}

.header__nav_container {
  padding: 17px 0;
}
.header__nav_container nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 1200px) {
  .header__nav_container nav ul {
    gap: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .header__nav_container nav ul {
    gap: 20px;
  }
}
@media screen and (max-width: 1023px) {
  .header__nav_container nav ul {
    flex-direction: column;
    color: #fff;
    gap: 20px;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    overflow: hidden;
    overflow-y: auto;
  }
}
.header__nav_container nav ul li {
  position: relative;
}
.header__nav_container nav ul li:after {
  content: "";
  position: absolute;
  bottom: -5px;
  background-color: #8ac900;
  width: 0;
  height: 1px;
  left: 0;
  transition: 0.3s linear;
}
.header__nav_container nav ul li:hover:after {
  width: calc(100% + 10px);
}
.header__nav_container nav ul .current_page_item {
  color: #8ac900;
}
.header__nav_container nav ul .current_page_item:after {
  content: "";
  position: absolute;
  bottom: -5px;
  background-color: #8ac900;
  width: calc(100% + 10px);
  height: 1px;
  left: 0;
}

.hero__container {
  background-color: #fff;
  border-radius: 500px 20px 20px 500px;
  border: 0.5px solid #383838;
  display: flex;
  align-items: stretch;
}
@media screen and (max-width: 867px) {
  .hero__container {
    justify-content: center;
    border-radius: 500px 500px 20px 20px;
    flex-direction: column;
  }
}

.hero__image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 98px 85px;
  border-radius: 50%;
  background-color: #e9ffe8;
  border: 0.5px solid #383838;
  width: 51%;
}
@media screen and (min-width: 1100px) {
  .hero__image {
    padding: 113px 85px;
    width: 42.5%;
  }
}
@media screen and (max-width: 867px) {
  .hero__image {
    width: 100%;
    aspect-ratio: 1/1;
  }
}
@media screen and (max-width: 375px) {
  .hero__image {
    padding: 89px 85px;
  }
}
.hero__image.hero_v2_image {
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
}
.hero__image.hero_v2_image img {
  max-width: 100%;
  align-self: stretch;
  border-radius: 50%;
}
.hero__image img {
  max-width: 380px;
  width: 100%;
}

.hero__content {
  width: 57%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 1023px) {
  .hero__content {
    padding: 50px 30px;
  }
}
@media screen and (max-width: 867px) {
  .hero__content {
    width: 100%;
  }
}
.hero__content h1 {
  margin-bottom: 20px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 120%;
}
@media screen and (max-width: 767px) {
  .hero__content h1 {
    font-size: 28px;
  }
}
.hero__content h1 span {
  font: inherit;
  padding: 4px 15px;
  margin-left: 3px;
  background-color: #8ac900;
  color: #fff;
  border-radius: 0px 500px 500px 0px;
  margin-top: 5px;
}
.hero__content h2 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.hero__content h2 span {
  font: inherit;
  padding: 4px 15px;
  margin-left: 3px;
  background-color: #8ac900;
  color: #fff;
  border-radius: 0px 500px 500px 0px;
  margin-top: 5px;
}
@media screen and (max-width: 767px) {
  .hero__content h2 {
    font-size: 20px;
  }
}
.hero__content p {
  max-width: 550px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: auto;
}
.hero_v2 .hero__content p {
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .hero__content p {
    max-width: 100%;
  }
}
.hero__content .btn {
  margin-top: 50px;
}
.hero__content div {
  padding: 20px 40px;
  background-color: #e9ffe8;
}
@media screen and (max-width: 550px) {
  .hero__content div {
    padding: 20px;
  }
}

.about h2 {
  margin-bottom: 40px;
}
.about__container {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 1023px) {
  .about__container {
    flex-direction: column;
    gap: 20px;
  }
}
.about__images {
  display: flex;
  width: 48%;
  gap: 10px;
}
@media screen and (max-width: 1023px) {
  .about__images {
    width: 100%;
  }
}
.about__images img {
  -o-object-fit: cover;
     object-fit: cover;
}
.about__images_right {
  flex-grow: 2;
  width: 60%;
  border-radius: 10px;
}
@media screen and (max-width: 1023px) {
  .about__images_right {
    aspect-ratio: 1/0.5;
    width: 70%;
  }
}
.about__images_left {
  display: flex;
  flex-direction: column;
  gap: 35px;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.about__images_left .rotating {
  max-width: 150px;
  width: 100%;
}
.about__images_left_down {
  border-radius: 10px;
  max-width: 100%;
  width: 100%;
}
.about__content {
  padding: 50px;
  border-radius: 20px;
  border: 0.5px solid #383838;
  background-color: #fff;
  width: 52%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 1023px) {
  .about__content {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .about__content {
    padding: 30px 20px;
  }
}
.about__content h3 {
  margin-bottom: 12px;
}
.about__content p {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 130%;
}
.about__content .btn {
  margin-top: 40px;
  max-width: 306px;
}
.about__content div {
  padding: 30px;
  background-color: #e9ffe8;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 130%;
}

.advantages__container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: relative;
  align-items: start;
}
@media screen and (max-width: 1023px) {
  .advantages__container {
    flex-direction: column;
  }
}
.advantages__content {
  width: 65%;
  position: sticky;
  top: 150px;
  height: 100%;
}
@media screen and (max-width: 1023px) {
  .advantages__content {
    top: 0;
    position: static;
    width: 100%;
  }
}
.advantages__content h2 {
  margin-bottom: 14px;
}
.advantages__content p {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: auto;
}
.advantages__content p:nth-last-of-type(1) {
  margin-bottom: 30px;
}
.advantages__content .btn {
  max-width: 233px;
}
.advantages__scrolling_item {
  width: 100%;
  padding: 50px;
  border-radius: 20px;
  border: 0.5px solid #8ac900;
  position: sticky;
  background-color: #fff;
  transition: all 0.4s ease-in-out 0s;
  min-height: 240px;
  height: 100%;
}
.advantages__scrolling_item:not(:first-of-type) {
  margin-top: -10px;
}
@media screen and (max-width: 767px) {
  .advantages__scrolling_item {
    padding: 30px 20px;
  }
}

.advantages__scrolling {
  width: 100%;
}

.advantages__scrolling_item_top {
  position: relative;
  margin-bottom: 30px;
}
.advantages__scrolling_item_top span {
  padding: 10px 30px 10px 50px;
  border-radius: 500px;
  border: 0.5px solid #8ac900;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: -moz-fit-content;
  max-width: fit-content;
  position: relative;
}
@media screen and (max-width: 550px) {
  .advantages__scrolling_item_top span {
    max-width: 203px;
    width: 100%;
    padding: 10px 20px 10px 40px;
  }
}
.advantages__scrolling_item_top span:before {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  left: 30px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #8ac900;
}
@media screen and (max-width: 767px) {
  .advantages__scrolling_item_top span:before {
    left: 20px;
  }
}
.advantages__scrolling_item_top svg {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 64px;
  max-height: 64px;
}
@media screen and (max-width: 767px) {
  .advantages__scrolling_item_top svg {
    max-width: 32px;
    max-height: 32px;
  }
}

.advantages__scrolling_item_bottom p {
  max-width: 400px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 130%;
}

.animate__container {
  overflow: hidden;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 331px;
}

.footer__animate__container {
  height: auto;
  background-color: #8ac900;
}

.animate__top,
.animate__bottom,
.footer__animate {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  padding: 30px 0;
  width: 100%;
  width: 110%;
  background-color: #8ac900;
}
@media screen and (max-width: 767px) {
  .animate__top,
  .animate__bottom,
  .footer__animate {
    gap: 50px;
    padding: 20px 0;
  }
}

.animate__top span,
.animate__bottom span,
.footer__animate span {
  align-items: center;
  -webkit-animation: move-rtl 6s linear infinite;
  color: #fff;
  text-decoration: underline;
  font-weight: 400;
  display: flex;
  white-space: nowrap;
  margin-right: 100px;
}

.animate__bottom span {
  animation: move-rtl-revers 6s linear infinite;
}

.animate__top {
  transform: rotate(5deg);
  z-index: 2;
  margin-bottom: -190px;
}
@media screen and (max-width: 1200px) {
  .animate__top {
    transform: rotate(10deg);
  }
}
@media screen and (max-width: 767px) {
  .animate__top {
    margin-bottom: -160px;
  }
}

.animate__bottom {
  transform: rotate(355deg);
  margin-top: 105px;
}
@media screen and (max-width: 1023px) {
  .animate__bottom {
    transform: rotate(-10deg);
  }
}
.promo-m {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
@keyframes move-rtl {
  0% {
    transform: translateX(0);
  }
  99% {
    opacity: 1;
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes move-rtl-revers {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.arrows {
  position: relative;
  margin-top: auto;
  max-width: 130px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  height: -moz-fit-content;
  height: fit-content;
}
@media screen and (max-width: 767px) {
  .arrows {
    display: none;
  }
}
.arrows .swiper-button-prev::after,
.arrows .swiper-button-next::after {
  display: none;
}
.arrows .arrow {
  position: relative;
  width: 49px;
  height: 49px;
  border-radius: 5px;
  background-color: #8ac900;
  border: 0.5px solid #8ac900;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
  transition: 0.3s ease;
}
.arrows .arrow.swiper-button-lock {
  display: none;
}
.arrows .arrow.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.arrows .arrow svg {
  transition: 0.3s ease;
  width: 25px;
  height: 25px;
}
.arrows .arrow:hover {
  background-color: #e9ffe8;
  border-color: transparent;
}
.arrows .prev:hover {
  background-color: #e9ffe8;
  border-color: #383838;
}
.arrows .prev svg {
  transform: rotate(180deg);
}
.arrows .next {
  right: 0;
  left: inherit;
}
.arrows .next:hover {
  background-color: #e9ffe8;
  border-color: #383838;
}

.action-button-prev,
.action-button-next {
  border-color: #8ac900;
}
.action-button-prev:hover svg path,
.action-button-next:hover svg path {
  fill: #383838;
}
.action-button-prev svg path,
.action-button-next svg path {
  fill: #fff;
}

.action__slider .swiper-wrapper {
  padding-bottom: 30px;
}
.action__slider .swiper-pagination-bullets.swiper-pagination-bullets {
  bottom: 4px;
}
.action__slider .swiper-pagination-bullet.swiper-pagination-bullet {
  height: 10px;
  width: 10px;
  background-color: #fff;
  border: 0.5px solid #8ac900;
  opacity: 1;
  cursor: pointer;
}
.action__slider .swiper-pagination-bullet-active.swiper-pagination-bullet-active {
  background-color: #8ac900;
}

.action__item {
  height: auto;
  transition: 0.3s linear;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.action__item:hover > .action__item_bottom {
  color: #fff;
  background-color: #8ac900;
  border-color: transparent;
}
.action__item:hover > .action__item_bottom .action__more {
  color: #fff;
}

.action__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
}
.action__link img {
  border-radius: 10px;
  width: 100%;
}

.action__item_bottom {
  padding: 20px 30px;
  border-radius: 10px;
  border: 0.5px solid #383838;
  background: #fff;
  cursor: pointer;
  flex-grow: 1;
}
.action__item_bottom p {
  margin-bottom: 15px;
}

.action__date {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: auto;
}

.action__more {
  color: #8ac900;
  text-decoration: underline;
  transition: 0.3s linear;
  font-size: 12px;
  font-weight: 400;
  line-height: auto;
  margin-top: auto;
}
.action__more:hover {
  text-decoration: none;
}

.action__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media screen and (max-width: 1023px) {
  .action__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .action__items {
    display: flex;
    flex-direction: column;
  }
}

.action-post-title h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .action-post-title h1 {
    font-size: 20px;
    line-height: auto;
  }
}
.action-post-title h1 span {
  font: inherit;
  padding: 4px 15px;
  margin-left: 3px;
  background-color: #8ac900;
  color: #fff;
  border-radius: 0px 500px 500px 0px;
  margin-top: 5px;
}

.catalog .btn {
  margin: 0 auto;
  max-width: 253px;
}

.catalog__title {
  margin-bottom: 40px;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  transition: 0.3s linear;
}
.catalog__item:hover .catalog__item_content {
  background-color: #8ac900;
  color: #fff;
  border-color: transparent;
}

.catalog__item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  border-radius: 15px;
  border: 0.5px solid #383838;
  background: #e9ffe8;
  max-height: 310px;
  padding: 15px;
  z-index: 1;
  flex-grow: 1;
  height: 100%;
  position: relative;
}
@media screen and (max-width: 550px) {
  .catalog__item-img {
    aspect-ratio: 1/1;
  }
}
.catalog__item-img:before {
  content: "";
  position: absolute;
  top: 15px;
  left: calc(50% - 75px);
  width: 150px;
  height: 91%;
  background-color: #fff;
  z-index: 0;
  border-radius: 500px 500px 0px 0px;
}
.catalog__item-img img {
  max-width: 150px;
  aspect-ratio: 0.5/0.9;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.catalog__item_content {
  padding: 10px 20px;
  border: 0.5px solid #383838;
  background-color: #fff;
  border-radius: 15px;
  text-align: center;
  min-height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s linear;
}
.catalog__item_content span {
  font-size: 16px;
  font-weight: 400;
  line-height: auto;
}

.contact__container {
  display: flex;
  border-radius: 20px;
  border: 1px solid #8ac900;
  background: #fff;
}
@media screen and (max-width: 767px) {
  .contact__container {
    flex-direction: column;
  }
}

.contact__img {
  border-radius: 20px;
  border: 1px solid #8ac900;
  background: #e9ffe8;
  padding: 60px;
  width: 42%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 860px) {
  .contact__img {
    padding: 40px 20px;
  }
}
@media screen and (max-width: 767px) {
  .contact__img {
    width: 100%;
  }
}
.contact__img img {
  max-width: 380px;
  width: 100%;
  aspect-ratio: 1/1;
  min-width: 200px;
}

.contact__content {
  padding: 60px;
  width: 58%;
}
@media screen and (max-width: 1023px) {
  .contact__content {
    padding: 60px 40px;
  }
}
@media screen and (max-width: 1023px) {
  .contact__content {
    padding: 60px 40px;
  }
}
@media screen and (max-width: 860px) {
  .contact__content {
    padding: 40px 20px;
  }
}
@media screen and (max-width: 767px) {
  .contact__content {
    width: 100%;
  }
}
.contact__content h2 {
  margin-bottom: 20px;
}
.contact__content p {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: auto;
}

.contact__content_links {
  border-top: 1px solid #8ac900;
  border-bottom: 1px solid #8ac900;
  margin-bottom: 20px;
}
.contact__content_links .circle:hover:before {
  background-color: #fff;
  border-color: #8ac900;
  background-image: url("../images/phone-black.svg");
}
.contact__content_links .circle-mail:hover:before {
  border-color: #8ac900;
  background-image: url("../images/mail-black.svg");
}

.footer {
  background-color: #e9ffe8;
}

.footer__container {
  display: flex;
  padding: 80px 0;
  gap: 60px;
}
@media screen and (max-width: 1023px) {
  .footer__container {
    flex-direction: column;
  }
}
.footer__container .logo {
  margin-right: auto;
}
@media screen and (max-width: 1023px) {
  .footer__container .logo {
    margin: 0 auto;
  }
}
.footer__container .menu {
  display: flex;
  gap: 60px;
}
@media screen and (max-width: 767px) {
  .footer__container .menu {
    flex-direction: column;
  }
}
.footer__container .menu li:not(.submenu li) {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.footer__container .menu li {
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
}
.footer__container .menu li:not(.submenu li) > a, .footer__container .menu li:not(.submenu li) > div {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .footer__container .menu li:not(.submenu li) > a, .footer__container .menu li:not(.submenu li) > div {
    font-size: 16px;
  }
}
.footer__container .menu .submenu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__container .menu .submenu li {
  position: relative;
}
.footer__container .menu .submenu li a {
  position: relative;
  transition: 0.3s linear;
}
.footer__container .menu .submenu li a:after {
  content: "";
  width: 0%;
  height: 0.5px;
  background-color: #383838;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s linear;
}
.footer__container .menu .submenu li a:hover:after {
  width: 100%;
}

.footer__contact,
.footer__social {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.footer__contact span,
.footer__social span {
  text-transform: uppercase;
}

.footer__social a {
  transition: 0.3s linear;
}
.footer__social a svg circle, .footer__social a svg path {
  transition: all 0.3s linear;
}
.footer__social a:hover svg circle {
  fill: #8ac900;
  stroke: #8ac900;
}
.footer__social a:hover svg path {
  fill: #fff;
}

.footer__info {
  padding: 20px 0;
  text-align: center;
  border-top: 0.5px solid #383838;
  font-size: 12px;
  font-weight: 400;
  line-height: auto;
}

.footer__copy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 20px 0;
  position: relative;
  gap: 10px;
  border-top: 0.5px solid #383838;
}
@media screen and (max-width: 1023px) {
  .footer__copy {
    text-align: center;
    padding: 20px 0 0 0;
    flex-direction: column-reverse;
  }
}
.footer__copy p {
  font-size: 12px;
  font-weight: 400;
  line-height: auto;
}

.lumious {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 235px;
}

.prod__content {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 1023px) {
  .prod__content {
    flex-direction: column;
  }
}

.prod__facts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 40px 40px 105px;
  background-color: #fff;
  border-radius: 20px;
  border: 0.5px solid #383838;
  width: 60%;
}
@media screen and (max-width: 1023px) {
  .prod__facts {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .prod__facts {
    padding: 20px 20px 20px 55px;
  }
}

.prod__fact {
  background-color: #383838;
  padding: 40px 40px 40px 85px;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .prod__fact {
    padding: 20px 20px 20px 70px;
  }
}
.prod__fact span {
  position: absolute;
  top: 0;
  left: -69px;
  max-width: 143px;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #383838;
  z-index: 2;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 120%;
}
@media screen and (max-width: 767px) {
  .prod__fact span {
    font-size: 28px;
  }
}
.prod__fact span span {
  font: inherit;
  padding: 4px 15px;
  margin-left: 3px;
  background-color: #8ac900;
  color: #fff;
  border-radius: 0px 500px 500px 0px;
  margin-top: 5px;
}
@media screen and (max-width: 550px) {
  .prod__fact span {
    max-width: 100px;
    left: -52px;
  }
}
.prod__fact span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: rotate(19deg);
}
.prod__fact p {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 130%;
  text-wrap: balance;
  max-width: 400px;
}

@media screen and (max-width: 1023px) {
  .prod__quality {
    width: 100%;
  }
}

.production__info {
  display: flex;
  position: relative;
  align-items: stretch;
}
@media screen and (max-width: 860px) {
  .production__info {
    flex-direction: column;
  }
}

.halal-img {
  max-height: 280px;
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 861px) {
  .halal-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
}
@media screen and (max-width: 550px) {
  .halal-img {
    max-width: 200px;
    max-height: 200px;
  }
}
.halal-img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}

.production__block {
  position: relative;
  display: flex;
  flex-grow: 1;
  width: 50%;
  padding: 50px;
  margin: 0 auto;
  min-height: 280px;
  flex-direction: column;
  justify-content: center;
  height: auto;
  border: 0.5px solid #383838;
}
@media screen and (max-width: 860px) {
  .production__block {
    width: 100%;
    border-radius: 15px;
  }
}
.production__block h3, .production__block p {
  max-width: 450px;
}
@media screen and (max-width: 860px) {
  .production__block h3, .production__block p {
    max-width: 100%;
  }
}
.production__block h3 {
  margin-bottom: 10px;
}
.production__block p {
  margin-bottom: 10px;
}
.production__block:nth-child(odd) {
  padding-left: 170px;
  border-radius: 0px 15px 15px 0;
}
@media screen and (max-width: 860px) {
  .production__block:nth-child(odd) {
    padding: 60px 50px;
    border-radius: 15px;
  }
}
.production__block:nth-child(even) {
  background-color: #383838;
  color: #fff;
  border-radius: 15px 0 0 15px;
  padding-right: 170px;
}
@media screen and (max-width: 860px) {
  .production__block:nth-child(even) {
    padding: 60px 50px;
    border-radius: 15px;
  }
}

.stairs__container {
  display: flex;
  gap: 60px 20px;
  flex-wrap: wrap;
}

.step {
  border-radius: 20px;
  border: 0.5px solid #383838;
  padding: 60px 40px;
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  width: calc(33.3333333333% - 15px);
}
@media screen and (min-width: 1024px) {
  .step:nth-child(3n+2) {
    margin-top: 80px;
  }
  .step:nth-child(3n+3) {
    margin-top: 160px;
  }
}
@media screen and (max-width: 1023px) {
  .step {
    width: calc(50% - 15px);
  }
  .step:nth-child(odd) {
    margin-top: -80px;
  }
}
@media screen and (max-width: 767px) {
  .step {
    width: 100%;
  }
  .step:nth-child(even), .step:nth-child(odd) {
    margin-top: 0;
  }
}
.step img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 105px;
  max-height: 100px;
  aspect-ratio: 1/1;
}
.step h3 {
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .step h3 {
    min-height: 80px;
  }
}
.step h4 {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.step p {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 20px;
}
.step p:nth-last-of-type(1) {
  margin-bottom: 0;
}

.team__grid {
  gap: 40px 20px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 991px) {
  .team__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

.team__item {
  width: calc(50% - 20px);
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 991px) {
  .team__item {
    width: 100%;
  }
  .team__item:nth-child(5n+1) {
    grid-column: 1/3;
    margin-top: 70px;
  }
  .team__item:nth-child(5n+2) {
    grid-column: 3/5;
    margin-top: -85px;
  }
}
@media screen and (min-width: 991px) and (max-width: 990px) {
  .team__item:nth-child(5n+2) {
    margin: 0;
  }
}
@media screen and (min-width: 991px) {
  .team__item:nth-child(5n+3) {
    grid-column: 5/7;
    margin-top: 70px;
  }
  .team__item:nth-child(5n+4) {
    grid-column: 2/4;
  }
  .team__item:nth-child(5n+5) {
    grid-column: 4/6;
  }
}
@media screen and (max-width: 767px) {
  .team__item {
    width: 100%;
  }
  .team__item img {
    aspect-ratio: 1/1;
  }
}
.team__item img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.team__item div {
  padding: 10px 20px;
  border: 0.5px solid #383838;
  background-color: #fff;
  border-radius: 15px;
  text-align: center;
  min-height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s linear;
  max-width: 310px;
  width: 100%;
  margin-top: -28px;
  z-index: 1;
}
.team__item div span {
  font-size: 16px;
  font-weight: 400;
  line-height: auto;
  text-align: center;
}

.ware__item {
  border-radius: 15px;
  border: 0.5px solid #383838;
  background-color: #fff;
  width: 100%;
}

.ware__item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px;
  border-radius: 15px 15px 0 0;
}
.ware__item-img img {
  max-width: 150px;
  max-height: 80%;
}

.ware__item_descr {
  border-radius: 0 0 15px 15px;
  padding: 20px;
  border-top: 0.5px solid #383838;
}
.ware__item_descr span {
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
  color: #8ac900;
  margin-bottom: 5px;
}
.ware__item_descr p {
  font-size: 16px;
  font-weight: 400;
  line-height: auto;
  margin-bottom: 20px;
}

.product__container {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .product__container {
    flex-direction: column;
  }
}

.product__img {
  width: 41%;
  background-color: #fff;
  border: 0.5px solid #383838;
  border-radius: 15px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  max-height: 530px;
}
@media screen and (max-width: 767px) {
  .product__img {
    width: 100%;
  }
}
.product__img img {
  max-width: 256px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.key {
  color: #8ac900;
  font-size: 16px;
  font-weight: 500;
  line-height: auto;
  text-transform: uppercase;
  margin-bottom: 15px;
  display: block;
}

.price {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: block;
}
@media screen and (max-width: 767px) {
  .price {
    font-size: 18px;
  }
}

.product__descr {
  width: 58%;
  padding: 60px;
  background-color: #fff;
  border: 0.5px solid #383838;
  border-radius: 15px;
}
@media screen and (max-width: 767px) {
  .product__descr {
    width: 100%;
    padding: 30px;
  }
}
.product__descr h1 {
  margin-bottom: 10px;
}
.product__descr p {
  margin-bottom: 20px;
}
.product__descr p:nth-last-of-type((1)) {
  margin-bottom: 40px;
}
.product__descr .btn {
  max-width: 224px;
  margin-bottom: 40px;
}

.properties__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media screen and (max-width: 1023px) {
  .properties__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .properties__items {
    display: flex;
    flex-direction: column;
  }
}

.properties__item {
  width: 100%;
}

.article {
  padding: 40px;
  background-color: #fff;
  border: 0.5px solid #383838;
  border-radius: 20px;
}
@media screen and (max-width: 550px) {
  .article {
    padding: 20px;
  }
}
.article h2 {
  margin-bottom: 20px;
}
.article h2 span {
  display: inline-block;
}
.article span {
  margin-bottom: 10px;
  display: block;
}
.article span span {
  color: #8ac900;
  margin-left: 5px;
  display: inline;
}
.article p {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
.article p span {
  display: inline-block;
}
.article p a {
  color: #8ac900;
}
.article h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .article h3 {
    font-size: 18px;
  }
}
.article h3 span {
  display: inline-block;
}
.article ul {
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 38px;
  margin-bottom: 30px;
}
.article ul li {
  position: relative;
}
.article ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: -38px;
  background: url("../images/about_img-rotating (2).svg") center center/cover no-repeat;
  width: 22px;
  height: 22px;
}
.article ul li {
  text-transform: none;
}
.article ul li span {
  display: inline-block;
  color: #8ac900;
  margin-left: 2px;
}
.article ol {
  counter-reset: custom-counter;
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 38px;
  margin: 0 0 30px 38px;
  list-style: none;
  padding: 0;
  gap: 28px;
}
.article ol li {
  position: relative;
}
.article ol li:before {
  content: "";
  position: absolute;
  top: 0;
  left: -38px;
  background: url("../images/about_img-rotating (2).svg") center center/cover no-repeat;
  width: 22px;
  height: 22px;
}
.article ol li {
  counter-increment: custom-counter;
}
.article ol li:before {
  content: counter(custom-counter) " ";
  position: absolute;
  left: -38px;
  top: 0;
  font-weight: bold;
  color: #383838;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-25%);
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
}

.article__img {
  background-color: #e9ffe8;
  padding: 75px 0;
  margin-bottom: 30px;
}
.article__img img {
  max-width: 320px;
  width: 100%;
  aspect-ratio: 1/1;
  margin: 0 auto;
}

.question {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px 30px;
  background-color: #fff;
  border: 0.5px solid #8ac900;
  border-radius: 15px;
  margin-bottom: 10px;
}
@media screen and (max-width: 550px) {
  .question {
    padding: 30px 20px;
  }
}
.question p {
  max-width: 410px;
  margin-bottom: 0;
}
.question a:has(svg) {
  max-width: 48px;
  max-height: 48px;
}
.question a:has(svg) svg {
  max-width: 48px;
  max-height: 48px;
}

.blue-block {
  padding: 40px;
  background-color: #e9ffe8;
  border-radius: 10px;
  margin-bottom: 30px;
}

.instruction__wrap {
  display: flex;
  gap: 20px;
  align-content: stretch;
}

.instruction_item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
}
@media screen and (max-width: 767px) {
  .instruction_item {
    flex-direction: column;
  }
}
.instruction_item h3 {
  flex-grow: 1;
}
.instruction_item img {
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-flex {
  display: flex;
  gap: 40px;
  height: auto;
}
@media screen and (max-width: 867px) {
  .content-flex {
    flex-direction: column;
  }
}
.content-flex img {
  width: 32%;
}
@media screen and (max-width: 867px) {
  .content-flex img {
    width: 100%;
    aspect-ratio: 1/1;
  }
}
.content-flex div {
  padding: 40px;
  background-color: #e9ffe8;
  border-radius: 10px;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  margin-bottom: 0;
}
@media screen and (max-width: 867px) {
  .content-flex div {
    width: 100%;
  }
}

.delivery__info {
  display: flex;
  align-content: stretch;
  gap: 20px;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .delivery__info {
    flex-direction: column;
  }
}

.delivery__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border: 0.5px solid #383838;
  border-radius: 20px;
  background-color: #fff;
  padding: 60px;
  width: calc(50% - 10px);
  height: auto;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .delivery__item {
    width: 100%;
    padding: 40px;
  }
}
.delivery__item p {
  flex-grow: 1;
}
.delivery__item svg {
  margin: 0 auto;
  max-width: 200px;
  aspect-ratio: 1/1;
}
@media screen and (max-width: 375px) {
  .delivery__item svg {
    max-width: 150px;
  }
}
.delivery__item:nth-child(3n+3) {
  width: 100%;
}
.delivery__item:nth-child(3n+3) p {
  max-width: 402px;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */